/* CHARACTER TO FIND */

.charactersToFind {
  display: flex;
  /* border: 2px solid blue;us */
  justify-content: center;
}

.character {
  /* border: 2px solid red; */
  padding: 10px;
  margin: 10px;
}

.found {
  background-color: rgba(0, 0, 0, 0.7);
}

.found img {
  opacity: 0.5;
  position: relative;
  z-index: -1;
}

.characterFound {
  padding: 10px;
  margin: 10px;
}

/* IMAGE BOARD CONTAINER */

/* Default styles for larger screens */
.wheresWaldoImage img {
  width: 2040px;
  height: auto;
}

/* Media query for screens smaller than a certain size */
@media (max-width: 1500px) {
  .wheresWaldoImage img {
    width: 1020px;
    height: auto;
  }
}
.clickTest {
  height: 200px;
  width: auto;
  background-color: beige;
}

.imagePlaceholder {
  display: flex;
  font-size: 2em;
  justify-content: center;
  align-items: center;
}

/* POP UP STYLES */
.popup {
  color: white;
  position: absolute;

  width: fit-content;
  height: auto;

  background-color: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.characterSelect {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px 20px 10px 20px;
  width: 100%;
  max-width: 640px;
}

.characterName {
  padding: 5px 0 5px 0;
  display: flex;
}

.characterName button {
  width: 100%;
}

.found button {
  background-color: rgba(0, 200, 0, 0.7);
}

.redPulse {
  background-color: red;
  transition: background-color 0.5s ease-in-out; /* Adjust the duration and timing function as needed */
}

/* GameController container styles */
.gameControllerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.gameInfo {
  display: flex;
  flex-direction: rows;
}

#startButton {
  background-color: green;
}

#resetButton {
  background-color: red;
}

.stopwatch {
  padding: 12px;
  margin-left: 10px;
  border-radius: 10px;
  background-color: gray;
}

.gameFinished {
  font-size: 2em;
}
